## Pruebas con pandas: Series y DataFrame

In [2]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

### Series

In [4]:
s1 = Series(np.arange(10,100,10))
s1

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int32

In [5]:
print(s1.values)
print(s1.index)

[10 20 30 40 50 60 70 80 90]
RangeIndex(start=0, stop=9, step=1)

In [6]:
s2 = Series(np.arange(10,100,10))
s2

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
8    90
dtype: int32

r = s1 + s2
r

In [8]:
s3 = Series(list(range(5)), index=list('abcde'))
s3

a    0
b    1
c    2
d    3
e    4
dtype: int64

In [9]:
s3['b']

1

In [10]:
s3[['b','d']]

b    1
d    3
dtype: int64

In [11]:
s3[0]

0

In [14]:
r[(r>30) & (r<80)]

1    40
2    60
dtype: int32

In [15]:
s3[:3]

a    0
b    1
c    2
dtype: int64

In [16]:
s3['b':'d']

b    1
c    2
d    3
dtype: int64

In [18]:
r = np.exp(s3)
r

a     1.000000
b     2.718282
c     7.389056
d    20.085537
e    54.598150
dtype: float64

In [20]:
s3 = Series(list(range(5)), index=list('abcde'))
s4 = Series(list(range(5)), index=list('aeiou'))
r = s3 + s4
r

a    0.0
b    NaN
c    NaN
d    NaN
e    5.0
i    NaN
o    NaN
u    NaN
dtype: float64

In [21]:
r.isnull()

a    False
b     True
c     True
d     True
e    False
i     True
o     True
u     True
dtype: bool

### DataFrame

In [22]:
dt = DataFrame(np.arange(20).reshape(5,-1))
dt

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [23]:
dt = DataFrame(np.arange(20).reshape(5,-1), columns=list('abcd'))
dt

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [24]:
dt['a']

0     0
1     4
2     8
3    12
4    16
Name: a, dtype: int32

In [25]:
dt['a'][0]

0

In [26]:
dt.loc[1]

a    4
b    5
c    6
d    7
Name: 1, dtype: int32

In [27]:
dt.loc[1]['b']

5

In [28]:
dt[['a','c']]

    a   c
0   0   2
1   4   6
2   8  10
3  12  14
4  16  18

In [29]:
dt.b

0     1
1     5
2     9
3    13
4    17
Name: b, dtype: int32

In [30]:
L = dt.values.tolist()
L

[[0, 1, 2, 3],
 [4, 5, 6, 7],
 [8, 9, 10, 11],
 [12, 13, 14, 15],
 [16, 17, 18, 19]]